* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

ul {
    margin: 0;
    padding: 0;
}

.body {
    background: url(../img/cafe-bg-02.jpg) no-repeat center;
    background-size: cover;
    height: 100vh;
}

.container {
    max-width: 1350px;
    margin: 0 auto;
}

.header { 
    display: flex;
    justify-content: center;
}

.item__image {
    width: 160px;
}

.item__image > img {
    width: 100%;
}


.header__title {
    display: inline;
    background-color: white;
    padding: 15px 30px;
    color: #544639;
    margin-top: 50px;
}

.section {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
}

.menu {
    background-color: #544639;
    width: 450px;
    padding: 40px 30px;
    border-radius: 10px;
}

.right {
    justify-content: flex-end;
    text-align: right;
}

.menu__item {
    display: flex;
    margin-top: 15px;
    gap: 15px;
}

.title {
    color: orange;
}

.price {
    display: block;
    color: white;
}